services:
  npm:
    build: ./
    stdin_open: true
    tty: true
    volumes:
      - ./:/app
    working_dir: /app
    environment:
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true

  vite-dev:
    build: ./
    stdin_open: true
    tty: true
    volumes:
      - ./:/app
    working_dir: /app
    command: ["run", "dev"]
    ports:
      - "5173:5173"
    environment:
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true